@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }
body {
    overflow-x: hidden;
    background-color: grey;
}

input[type="number"] { -moz-appearance: textfield; }
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width: 831px) { .navmodal > .links > *::after { background: #EDF4D9; } }
.links > *:hover::after { width: 100%; opacity: 1;}
.links > *::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    opacity: 0;
    background: #083c48;
    transition-property: width, opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}

.clip-btn { clip-path: polygon(83% 0, 85% 10%, 85% 0, 100% 0, 100% 100%, 15% 100%, 15% 90%, 13% 100%, 0 100%, 0 0); }
.clip-triangle { clip-path: polygon(0 0, 0% 100%, 100% 0); }

@layer components {
    .gradient-t { @apply bg-gradient-to-t from-darkslategray-500 to-darkslategray-600 inline-block text-transparent bg-clip-text }
    .gradient-b { @apply bg-gradient-to-b from-darkslategray-500 to-darkslategray-600 inline-block text-transparent bg-clip-text }
}