@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

.links > *::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    opacity: 0;
    background: #083c48;
    transition-property: width, opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}

.links > *:hover::after { width: 100%; opacity: 1;}

.main_btn:hover button {
    width: 10rem;
    height: 2.75rem;
}

.triangle-1 {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 2px solid transparent;
    border-top: 6px solid #fff;
    background: transparent;
    top: 2px;
    left: 115px;
    transform: rotate(-15deg);
}

.triangle-2 {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 2px solid transparent;
    border-top: 6px solid #fff;
    background: transparent;
    bottom: 1px;
    left: 30px;
    transform: rotate(215deg);
}

.main_btn:hover span .triangle-1,
.main_btn:hover span .triangle-2 {
    border-top: 6px solid #083c48;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body { background-color: grey; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.clip-triangle { clip-path: polygon(0 0, 0% 100%, 100% 0); }
